body{
    position:relative;
}

div.wrapper#full-width-page-wrapper{
    div#content.container{
        background:white;
    }
}

nav#main-nav{
    background:black;
    div.container{
        background:white;
        /*width:1110px;*/
        padding:10px 135px;
    }
    .navbar-brand{
        color:black;
        font-family:$montserrat;
        font-size:10pt;
    }
    ul#main-menu{
        li{
            padding:0 .5em;
            width:100px;
            a{
                font-size:8pt;
                font-family:$montserrat;
                color:black;
                text-align:center;
            }
        }
        li:nth-child(3){
            width:80px;
        }
        li:nth-child(2){
            width:120px;
        }
        li:last-child{
            background-color:$radioflyer;
            margin-left:.5rem;
            a {
                color:white;
            }
        }
    }
}

/* Join Now Section Styles */
section#joinnow-section{
    padding-top:1em 0 3em 0;
    position:relative;
    top:-15px;
    h4{
        text-align:center;
        color:white;
        font-family:$montserrat;
        width:50%;
        padding-bottom:2%;
    }

    div.acf-fields.acf-form-fields.-left{
        .acf-field{
            .acf-input{
                width:100%;
            }
        }
    }

    div.acf-field{
        display:inline-block;
        border-top:none;
    }
    div.acf-field::before{
        display:none;
    }
    div.acf-label{
        display:none;
    }
    div.acf-fields, div.acf-form-submit{
        display:inline-block;
    }
    div.acf-form-submit{
        position:absolute;
        input#join-form-submit-button{
        }
    }
    div#subscriber-name, div#subscriber-email{
        padding:0;
    }
}

.understrap_btn{
            color:white;
            background-color:$radioflyer;
            padding:10px;
            border:none;
            font-family:$montserrat;
            font-size:8pt;
            width:100px;
}


#about-section{
    div.row{
        div.col-6{
            p{
                font-size:10pt;
                font-family:$montserrat;
            }
        }
        div.col-6:first-child{
            padding-top:10%;
        }
    }
}

#get-connected-section{
    a{
        color:black;
    }
    min-height:200px;
}

.card-body p{
    font-size:10pt;
    font-family:$montserrat;
}

#resources-section{
    padding-bottom:9%;
}

#get-connected-section, #resources-section, #joinnow-section{
    min-height:200px;
    background-size:100% 100%;
    background-repeat:no-repeat;
}

.section-heading{
    font-family:$montserrat;
    text-align:center;
    margin:auto;
    padding:5%;
}
     

footer{
    h6#footer-blog-title, #footer-contact h6{
        font-family:$montserrat;
    }
    h6, p{
        color:white;
    }
    p{
        font-size:8pt;
    }
    background-color:black;
    div.site-info{
        p{
            font-size:8pt;
        }
    }
    ul{
        list-style:none;
        a{
            color:white;
            font-family:$montserrat;
        }
    }
} 
 

div.peripheral-images-container{
    position:relative;
}

img.peripheral-images{
    position:absolute;
}

#line-top-left{
    width:100px;
    top:-40px;
}

#splash-mid-left{
    width:100px;
    left:-1em;
    position:relative;
    top:-80px;
}

#splash-mid-right{
    position:relative;
    width:150px;
    right:-1em;
    top:-140px;
    float:right;

}


#splash-bottom-left{
    width:100px;
    top:-72px;
    left:-1em; 
}

#line-bottom-right{
    width:100px;
    right:-1em;
    top:-235px;
}

img#goldspecks{
    width:100px;
    top:-7%;
    left:5%;
}

